@import 'tailwindcss';

@theme {
  --color-primary-50: #f8fafc;
  --color-primary-100: #f1f5f9;
  --color-primary-200: #e2e8f0;
  --color-primary-700: #334155;
  --color-primary-800: #1e293b;
  --color-primary-900: #0f172a;

  --color-accent-50: #eff6ff;
  --color-accent-200: #bfdbfe;
  --color-accent-500: #3b82f6;
  --color-accent-600: #2563eb;

  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #a3a3a3;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;

  --color-success-50: #ecfdf5;
  --color-success-200: #a7f3d0;
  --color-success-500: #10b981;

  --color-warning-50: #fffbeb;
  --color-warning-200: #fef3c7;
  --color-warning-500: #f59e0b;

  --color-error-50: #fff1f2;
  --color-error-500: #f43f5e;

  --color-white: #ffffff;
  --color-black: #000000;
}
